@font-face {
  font-family: "RobotoMono Bold";
  src: url("./fonts/Roboto\ Mono\ Bold\ Nerd\ Font\ Complete.ttf");
}

@font-face {
  font-family: "RobotoMono Medium";
  src: url("./fonts/Roboto\ Mono\ Medium\ Nerd\ Font\ Complete.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, "RobotoMono Medium", "RobotoMono Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: visible;
}

code {
  font-family: "RobotoMono Medium", "RobotoMono Bold";
}

.main {
  height: 100vh;
}

@media (max-width: 999px) {
  .main {
    height: 100%;
  }
}
.progress_inner .background .bar_in {
  background: #5e9e9f;
}
